@use "breakpoints" as *;

// SCSS Variables
//Font Sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

//Spacing
$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 16px;

// CSS Variables
:root {
  // font sizes
  --title-font-size: 3em;
  --subtitle-font-size: 1.5em;
  --subtitle-font-weight: 600;

  // small
  @media screen and (max-width: $breakpoint-sm) {
    --title-font-size: 2em;
  }
  // medium
  @media screen and ($breakpoint-sm < width < $breakpoint-md) {
    --title-font-size: 2.5em;
  }
  // large
  @media screen and ($breakpoint-md < width < $breakpoint-lg) {
    --title-font-size: 3em;
  }
  // xlarge
  @media screen and (min-width: $breakpoint-lg) {
    --title-font-size: 3em;
  }
}

// color themes
body {
  &.girly {
    --color-title: #5a3e5c;
    --color-text: #5a3e5c;
    --color-bg: #fff0f6;
    --color-accent: #ff85c0;
    --card: #ffe6f0;
    --color-scrollbar: #ff85c0;
    --color-border: #d6d6d6;

    // gaming colors
    --color-playing: #88bbee;
    --color-completed: #8de9bd;
    --color-wishlist: #e490c2;
    --color-paused: #fdce77;
  }
}
