.login-card {
    background-color: var(--color-card-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border);

    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
        margin: auto;
        img {
            height: 80px;
            margin-bottom: 1rem;
        }
    }
    .body {
        border-top: 2px solid var(--color-border);
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}