.button {
  border-radius: 32px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
  min-width: 100px;
  font-weight: 400;

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &.primary {
    color: var(--primary-foreground);
    background-color: var(--primary);
    border: none;

    &:hover:not(:disabled) {
      background: var(--accent-fade-20);
    }
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover:not(:disabled) {
      background: color-mix(in srgb, var(--primary), transparent 80%);
    }
  }
  &.tertiary {
    background: transparent;
    width: fit-content;
    padding: 0;
    text-decoration: underline;
  }

  &.sm {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
  &.md {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
  &.lg {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
  }
}
