@use "../../styles/breakpoints" as *;

.dashboard-tiles {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  > section:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  > section:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
  }

  > section:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
  }

  @media screen and ($breakpoint-lg <= width < $breakpoint-xl) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));

    > section:nth-child(1) {
      grid-column: span 1;
      grid-row: span 1;
    }

    > section:nth-child(2) {
      grid-column: span 1;
      grid-row: span 1;
    }

    > section:nth-child(3) {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  @media screen and (width >= $breakpoint-xl) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: masonry;

    gap: 20px;
    width: 100%;
    margin-top: 20px;

    > section:nth-child(1) {
      grid-column: span 1;
      grid-row: span 2;
    }

    > section:nth-child(2) {
      grid-column: span 1;
      grid-row: span 2;
    }

    > section:nth-child(3) {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  .dashboard-tile {
    border: 1px solid var(--color-border);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dashboard-tile-content {
    @extend .dashboard-tile;
    padding: 30px;
    padding-top: 5px;
    max-height: 500px;
  }
}