.options {
  display: flex;
  position: relative;
  color: var(--foreground);
  transition: all 0.3s ease;

  .options-menu {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 100%;
    right: -10px;
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 10;
    min-width: 7rem;

    .option {
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: var(--border);
      }
    }

    &.open {
      display: flex;
    }
  }

  &.open {
    display: flex;
  }
}
