//Colors
$color-bg-dark: #121212;
$color-text-dark: #ffffff;
$color-title-dark: #fff;
$color-accent-dark: #1E90FF;

$color-bg-girly: #fff0f6;
$color-text-girly: #5a3e5c;
$color-title-girly: #ff85c0;
$color-accent-girly: #ff85c0;

// Game colores
$color-playing: #1E90FF;
$text-color-playing: black;
$color-completed: #00FF85;
$text-color-completed: black;
$color-wishlist: #FF0099;
$text-color-wishlist: black;

//Font Sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

//Spacing
$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 16px;
