:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;

  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-title);
}

button {
  background-color: var(--color-accent);
  color: var(--color-text);

  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dashboard-tiles {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: masonry;

  gap: 20px;
  width: 100%;
  margin-top: 20px;

  > section:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
  }

  > section:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  > section:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .dashboard-tile {
    border: 1px solid var(--color-border);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dashboard-container {
    @extend .dashboard-tile;
    padding: 20px;
    padding-top: 0;
    max-height: 500px;
  }
}

.app-layout {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
    "navigation header"
    "navigation main";

  header {
    grid-area: header;
  }

  nav {
    grid-area: navigation;
  }

  .main-content {
    grid-area: main;
    padding: 2rem;
    padding-top: 0;
  }
}
