@use "breakpoints" as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

a {
  font-weight: 500;
  text-decoration: underline;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;

  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--color-text);
  background-color: var(--color-bg);

  &.modal-open {
    overflow: hidden;
  }
}

h1 {
  font-size: var(--title-font-size);
  line-height: 1.1;
  color: var(--color-title);
}

.app-layout {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 270px 1fr;

  grid-template-areas:
    "navigation header"
    "navigation main";

  header {
    grid-area: header;
  }

  .main-content {
    grid-area: main;
    padding: 2rem;
    padding-top: 0;
  }

  @media screen and (width < $breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
      "header"
      "main";

    .main-content {
      padding: 1rem;
    }
  }
}
