.game-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-card-bg);
  border-radius: 12px;

  .game-name {
    white-space: nowrap;
    width: 16rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .game-status {
    font-size: 0.9em;
    padding: 4px 10px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
      border: 1px solid;

    &.playing {
      background-color: color-mix(in srgb, var(--color-playing), transparent 90%);
      color: var(--color-playing);
      border-color: var(--color-playing);
    }
    &.completed {
      background-color: color-mix(in srgb, var(--color-completed), transparent 90%);
      color: var(--color-completed);
      border-color: var(--color-completed);
    }
    &.wishlist {
      background-color: color-mix(in srgb, var(--color-wishlist), transparent 90%);
      color: var(--color-wishlist);
      border-color: var(--color-wishlist);
    }
    &.paused {
      background-color: color-mix(in srgb, var(--color-paused), transparent 90%);
      color: var(--color-paused);
      border-color: var(--color-paused);
    }
  }
}
