.game-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border: 1px solid #333333;
  background-color: var(--color-card-bg);
  border-radius: 12px;

  .game-name {
    white-space: nowrap;
    width: 16rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .game-status {
    font-size: 0.9em;
    padding: 4px 10px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;

    &.playing {
      background-color: var(--color-playing);
    }
    &.completed {
      background-color: var(--color-completed);
    }
    &.wishlist {
      background-color: var(--color-wishlist);
    }
  }
}
