.game-list-section {
  display: flex;
  flex-direction: column;

  h2 {
    flex-shrink: 0;
  }

  .game-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 1rem 0 0;

    /* WebKit-specific styles for more detailed control */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-card-bg);
        border-radius: 10px;
        border: 1px solid #2c2c2c;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-scrollbar);
        border-radius: 10px;
    }
  }
}
