@use "../../styles/breakpoints" as *;

$mobile-controller-size: 40px;

.navigation {
  grid-area: navigation;

  .mobile-controller {
    display: none;
  }

  .navigation-menu {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;

    padding: 1rem;
    background-color: var(--color-bg);
    border-right: 1px solid var(--color-border);

    .logo {
      width: 160px;
    }

    .nav-items {
      margin-top: 1.5rem;

      .nav-item {
        position: relative;
        display: block;
        margin-bottom: 8px;
        font-size: 1rem;
        color: var(--color-text);
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        border-radius: 8px;
        padding: 8px 8px 8px 16px; // dejamos espacio para la barrita

        transition: color 0.2s ease, background-color 0.2s ease;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%) scaleY(0);
          width: 4px;
          height: 70%;
          background-color: var(--color-accent);
          border-radius: 4px;
          transition: transform 0.2s ease;
        }

        &:hover {
          color: var(--color-accent);
          background-color: var(--color-card-bg);
        }

        &.active {
          color: var(--color-accent);
          background-color: var(--color-card-bg);

          &::before {
            transform: translateY(-50%) scaleY(1);
          }
        }
      }
    }
  }

  @media screen and (width < $breakpoint-sm) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;

    transition: transform 0.3s ease-in-out;
    transform: translateX(calc(-100% + $mobile-controller-size + 20px));

    z-index: 101;

    .mobile-controller {
      display: flex;
      justify-content: center;
      align-items: center;

      width: $mobile-controller-size;
      height: $mobile-controller-size;
      margin: 10px;
      border-radius: 8px;

      background-color: var(--color-accent);
      cursor: pointer;
    }

    &.show-mobile-menu {
      transform: translateX(0);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
