.wrapper {
  position: relative;
  width: 100%;

  .select {
    min-height: 2rem;
    width: 100%;
    padding: 1.3rem 0.75rem 0.5rem 0.75rem;

    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;

    font-size: 1rem;
    color: var(--color-text);
    outline: none;
    transition: all 0.2s ease;

    &:hover:not(:disabled) {
      background-color: var(--color-border);
    }

    option {
      border: 1px solid var(--color-border);
      color: var(--color-text);
      background-color: var(--color-bg);
      padding: 10px;

      cursor: pointer;

      &:hover {
        background-color: var(--color-border);
      }

      &:first-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      &:not(:last-of-type) {
        border-bottom: none;
      }

      &:checked {
        background-color: var(--color-accent);
        font-weight: bold;
        color: var(--color-bg);
      }

      &::checkmark {
        display: none;
      }
    }
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  ::picker(select) {
    top: calc(anchor(bottom) + 5px);
    border: none;
    background-color: transparent;
    opacity: 0;
    transition: all 200ms allow-discrete;
  }

  ::picker(select):popover-open {
    opacity: 1;
  }

  @starting-style {
    ::picker(select):popover-open {
      opacity: 0;
    }
  }

  select::picker-icon {
    content: "▾";
    color: var(--color-text);
    transition: 300ms rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  .label {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    color: var(--color-text);
    opacity: 0.7;

    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;

    &.floated {
      top: 0.6rem;
      font-size: 0.75rem;
      opacity: 1;
      padding: 0 0.25rem;
      border-radius: 0.25rem;
    }
  }
}
