.game-list-section {
  display: flex;
  flex-direction: column;

  h2 {
    flex-shrink: 0;
  }

  .header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
  }

  .game-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 1rem 0 0;

    /* WebKit-specific styles for more detailed control */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-card-bg);
        border-radius: 10px;
        border: 1px solid #2c2c2c;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-scrollbar);
        border-radius: 10px;
    }
  }

  .error-message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #b74949;
    padding: 8px;
    color: #b33636;

    .error-title {
      display: flex;
      gap: 8px;
      align-items: center;

      span {
        font-weight: 600;
      }
    }

    button {
      background-color: transparent;
      width: fit-content;
      text-decoration: underline;
      padding: 0;
      color: inherit;
      font-weight: 600;
      border: none;
    }
  }
}
