.button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
  color: var(--color-text);

  --accent-darken-40: color-mix(in srgb, var(--color-accent), black 40%);
  --accent-darken-80: color-mix(in srgb, var(--color-accent), black 80%);

  // Generate static CSS variables for accent-fade
  @for $f from 10 through 90 {
    --accent-fade-#{$f}: color-mix(in srgb, var(--color-accent), transparent #{$f + '%'});
  }


  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &.primary {
    background: var(--color-accent);
    border: none;

    &:hover:not(:disabled) {
      background: var(--accent-fade-20);
    }
  }
  &.secondary {
    background-color: transparent;

    &:hover:not(:disabled) {
      background: var(--accent-fade-80);
    }
  }
  &.tertiary {
    background: transparent;
    width: fit-content;
    padding: 0;
    text-decoration: underline;
  }

  &.sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
  &.md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  &.lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }
}
