.header {
  box-sizing: border-box;
  padding: 12px;
  min-height: 3.5rem;

  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 2rem;
  color: var(--color-title);
}

.subtitle {
  font-size: 1.5rem;
  color: var(--color-text);
}
