.container {
  position: relative;
  .user {
    display: flex;
    gap: 8px;
    align-items: center;
    height: fit-content;
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 0.5rem;

    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--color-border);
    }

    .user-info {
      display: flex;
      flex-direction: column;

      .status {
        font-size: 10px;

        &.online {
          color: var(--color-online);
        }
      }
    }
  }

  .user-menu {
    min-width: 15rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;

    margin-top: 10px;
    padding: 1rem;

    .logout {
      background-color: var(--color-card-bg);
      color: var(--text-color);

      border: none;
      border-radius: 0.5rem;

      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 200ms ease-in-out;

      cursor: pointer;

      &:hover {
        background-color: var(--color-border);
      }
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-accent);

    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
