.friend-item {
  padding: 8px;
  padding-left: 10px;
  border-radius: 8px;

  border: 1px solid #333333;
  background-color: var(--color-card-bg);

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .friend-info {
    gap: 10px;
    display: flex;
    align-items: center;

    .friend-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--color-accent);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .friend-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.online {
        background-color: rgb(81, 204, 81);
      }
      &.offline {
        background-color: gray;
      }
      &.busy {
        background-color: rgb(231, 70, 59);
      }
    }
  }

  .friends-games {
    align-items: center;
    display: flex;
    gap: 12px;

    .friends-games-list {
      display: flex;
      gap: 5px;

      .friends-game {
        background-color: var(--color-accent);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &:hover {
          transform: scale(2);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
}
