@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

@custom-variant dark (&:is(.dark *));
@custom-variant girly (&:is(.theme-girly *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Figtree Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /*custom*/
  --text-white: #d8d8d8;
  /*sizing*/
  --text-xxs: 10px;

  /*custom colors*/
  --color-brand: var(--brand);
  --color-scrollbar: var(--scrollbar);
  --color-discord: var(--discord);
  --color-google: var(--google);
  --color-online: var(--online);

  --color-title: var(--title);
  --color-subtitle: var(--subtitle);

  /*status colors*/
  --color-error: var(--error);
  --color-success: var(--success);

  /*game statuses*/
  --color-playing: var(--playing);
  --color-completed: var(--completed);
  --color-wishlist: var(--wishlist);
  --color-paused: var(--paused);

  --z-modal: 100;
  --z-modal-content: calc(var(--z-modal) + 1);
}

:root {
  --background: #eeeeee;
  --foreground: #333;
  --card: oklch(93.403% 0.00011 271.152);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--brand);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--primary);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #c4c4c4;
  --input: oklch(80.152% 0.00009 271.152);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /*custom colors*/
  --brand: #cc4e45;
  --discord: #5865F2;
  --google: #4285f4;
  --scrollbar: #bbbbbb;
  --online: #53ad4b;

  --title: #333;
  --subtitle: #929292;

  /*status colors*/
  --error: #b33636;
  --success: #21a565;

  /*game statuses*/
  --playing: #1e90ff;
  --completed: #21a565;
  --wishlist: #ff0099;
  --paused: #ffa500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--card) inset;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 9999s ease-in-out 0s;
}

.dark {
  --background: #121212;
  --foreground: #d8d8d8;
  --card: #1b1b1b;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #2c2c2c;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /*custom colors*/
  --scrollbar: #3b3b3b;

  --title: #fff;
  --subtitle: #929292;

  /*game statuses*/
  --playing: #2f74b9;
  --completed: #21a565;
  --wishlist: #b82e81;
  --paused: #b1883c;
}

.theme-girly {
  --background: #fff0f6;
  --foreground: #5a3e5c;

  --card: #ffe6f0;
  --card-foreground: #5a3e5c;

  --primary: #ff85c0;
  --primary-foreground: #ffffff;

  --secondary: #ffe0eb;
  --secondary-foreground: #5a3e5c;

  --accent: #ff85c0;
  --accent-foreground: #ffffff;

  --border: #e4d2d9;
  --input: #fcd6e6;
  --ring: #ff85c0;

  --muted: #ffeaf2;
  --muted-foreground: #a06a8c;

  /* custom */
  --title: #5a3e5c;
  --subtitle: #a06a8c;
  --scrollbar: #ff85c0;

  /* gaming colors */
  --playing: #88bbee;
  --completed: #8de9bd;
  --wishlist: #e490c2;
  --paused: #fdce77;
}

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
  }

  * {
    @apply border-border outline-ring/50 box-border;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    min-height: 100vh
  }

  html {
    @apply font-sans;
    scrollbar-gutter: stable;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
  }

  h1,
  h2 {
    @apply text-title;
  }
}

/* Utilities */

@utility badge {
  @apply flex justify-center px-3 py-1 border rounded-xl w-fit min-w-15 text-sm shrink-0;
}

@utility game-status-badge {
  @apply font-bold badge;
}

@utility badge-playing {
  @apply border-playing text-playing bg-playing/10;
}

@utility badge-completed {
  @apply border-completed text-completed bg-completed/10;
}

@utility badge-wishlist {
  @apply border-wishlist text-wishlist bg-wishlist/10;
}

@utility badge-paused {
  @apply border-paused text-paused bg-paused/10;
}

@utility animation-duration {
  @apply duration-300 ease-in-out;
}

@utility games-grid {
  @apply gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5;
}

@utility page-padding {
  @apply p-4 md:p-10;
}

@utility card {
  @apply flex flex-col bg-card p-3 border rounded-xl;
}



@utility app-layout {
  display: grid;
  height: 100dvh;
  /* Por defecto: una sola columna (móvil) */
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";

  & header {
    grid-area: header;
  }

  & .main-content {
    grid-area: main;
    max-width: 100%;
    min-width: 0;
  }

  /* Desktop: a partir de 640px (equivalente a sm en Tailwind) */
  @media (width >=640px) {
    grid-template-columns: 270px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "navigation header"
      "navigation main";
  }
}

@layer components {
  .link-primary {
    @apply text-brand hover:underline no-underline;
  }

  .auth-card {
    @apply bg-card/50 rounded-md shadow-md border w-full max-w-6xl items-center justify-center text-subtitle;
  }

  .form-group {
    @apply flex flex-col gap-4;
  }

  .game-card-layout {
    @apply flex-row md:flex-col gap-0 md:gap-3 p-0 h-36 md:h-auto overflow-hidden card;
  }

  .game-status-badge-playing {
    @apply game-status-badge badge-playing;
  }

  .game-status-badge-completed {
    @apply game-status-badge badge-completed;
  }

  .game-status-badge-wishlist {
    @apply game-status-badge badge-wishlist;
  }

  .game-status-badge-paused {
    @apply game-status-badge badge-paused;
  }

  .navbar-icon {
    @apply p-2 hover:bg-border active:bg-border rounded-full text-subtitle text-2xl transition-colors cursor-pointer animation-duration;
  }
}